{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}

<div class="container-fluid">
  <div class="jumbotron">
    <div class="col-md-12" style="text-align: center; padding-bottom: 60px;">
      <h1>  Lockout|Tagout </h1>
    </div>
    <div class="row" style="padding: 20px; font-size: 18px;">
        <div class="col-lg-3 col-lg-offset-1">LOTO Number: {{ this_lockout.lockout_number }}</div>
        <div class="col-lg-4">Developed By: {{ this_lockout.open_lockout[0].created_by.first_name }} {{ this_lockout.open_lockout[0].created_by.last_name }}</div>
        <div class="col-lg-4">Date: {{ this_lockout.open_lockout[0].date.strftime("%m/%d/%y") }}</div>
    </div>
    <div class="panel-group">
      <div class="panel panel-info" style="margin-bottom: 25px;">
        <div class="panel-heading">Lockout Description</div>
        <div class="panel-body" style="font-size: 20px;">{{ this_lockout.lockout_description }}</div>
      </div>
      <div class="panel panel-warning" style="margin-bottom: 25px;">
        <div class="panel-heading">PPE Required:</div>
        <div class="panel-body" style="font-size: 20px;">
          <ul style="list-style: none;">
            {% if this_lockout.goggles == True %}
              <li>Goggles</li>
            {% endif %}
            {% if this_lockout.faceshield == True %}
              <li>Face Shield</li>
            {% endif %}
            {% if this_lockout.fullface == True %}
              <li>Full Face Respirator</li>
            {% endif %}
            {% if this_lockout.dustmask == True %}
              <li>Dust Mask</li>
            {% endif %}
            {% if this_lockout.leathergloves == True %}
              <li>Leather Gloves</li>
            {% endif %}
            {% if this_lockout.saranax == True %}
              <li>Saranax Suit</li>
            {% endif %}
            {% if this_lockout.nitrilegloves == True %}
              <li>Nitrile Gloves</li>
            {% endif %}
            {% if this_lockout.chemicalgloves == True %}
              <li>Chemical Gloves</li>
            {% endif %}
            {% if this_lockout.chemicalsuit == True %}
              <li>Chemical Suit</li>
            {% endif %}
            {% if this_lockout.tyrex == True %}
              <li>Tyrex</li>
            {% endif %}
            {% if this_lockout.rubberboots == True %}
              <li>Rubber Boots</li>
            {% endif %}
            {% if this_lockout.sar == True %}
              <li>SAR</li>
            {% endif %}
            {% if this_lockout.ppe != None %}
              <li>{{ this_lockout.ppe }}</li>
              {% endif %}
          </ul>
        </div>
      </div>

  <!-- Table -->
    <div class="panel" style="margin-bottom: 25px;">
      <div class="panel-body">
        <table class="table">
          <thead>
            <tr style="background-color: #A2FBA2;">
              <th>Valve # / MCC #</th>
              <th>Item Description / Location</th>
              <th>Lock Position</th>
              <th>Lock #</th>
              <th>Try Out</th>
              <th>Removal Position</th>
              <th>Lock/Tag Removed</th>
            </tr>
          </thead>
          <tbody style="padding-bottom: 15px;">
            {% for each in lockout_lines %}
                <tr style="border-bottom: inset;">
                  <th scope="row">{{ each.valve_number}}</th>
                    <td>{{ each.line_description }}</td>
                    <td>{{ each.lock_position }}</td>
                    <td></td>
                    <td></td>
                    <td>{{ each.removal_position }}</td>
                    <td></td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="panel" style="margin-bottom: 25px;">
      <div class="panel-body">
        <form method="POST" action="/lockout/{{this_lockout.id}}">
          <dl>
            {% if this_lockout.lockout_status == 1: %}
              {{ wtf.form_field(chain_of_custody_form.implemented_by) }}
            {% else %}
              <h4>  Implemented By: {{ this_lockout.implemented_lockout[0].implemented_by.last_name }}</h4>
            {% endif %}

            {% if this_lockout.lockout_status == 2: %}
              {{ wtf.form_field(chain_of_custody_form.accepted_by) }}
            {% else %}
              <h4>  Accepted By: {{ this_lockout.accepted_lockout[0].accepted_by.last_name }}</h4>
            {% endif %}

            {% if this_lockout.lockout_status == 3: %}
              {{ wtf.form_field(chain_of_custody_form.released_by) }}
            {% else %}
              <h4>  Released By: {{ this_lockout.released_lockout[0].released_by.last_name }}</h4>
            {% endif %}

            {% if this_lockout.lockout_status == 4: %}
              {{ wtf.form_field(chain_of_custody_form.cleared_by) }}
            {% else %}
              <h4>  Cleared By: {{ this_lockout.cleared_lockout[0].cleared_by.last_name }}</h4>
            {% endif %}
            <input class="btn btn-success" type="submit" value="Submit">
          </dl>
        </form>
<!-- <form class="form-inline" method="POST" enctype=multipart/form-data action="/lockout/{{this_lockout.id}}/close">
        <div class="form-group mx-sm-12">
          <label>Cleared By:</label>
          <input type="text" class="form-control" name="cleared_by" placeholder="username">
          <input type="file" class="form-control mb-2 mr-sm-2 mb-sm-0" name="file" class="file" id="attach" placeholder="Attach File">
          <button type="submit" class="btn btn-danger">Submit</button>
        </div>
      </form> -->
    </div>
    </div>
    <div style="padding-top: 40px;">
      <a class="btn btn-warning btn-lg btn-block" href="/lockout/{{this_lockout.id}}/pdf" >Generate PDF</a>
    </div>
  </div>
</div>




{% endblock %}
