{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<div class="row">
    <div class="col-md-12">
      {% for message in get_flashed_messages() %}
        {% if message == 'Logged in as ' %}
          <h3 class=flashes>{{ message }} {{ user.first_name }} {{ user.last_name }} </h3>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="jumbotron">
    <div class="text-center" style="padding-bottom: 40px;">
      <h1>Lockout|Tagout</h1>
    </div>

<!-- OPEN TABLE --------------------------------------------->
  <div class="panel-group">
    <div class="panel" style="margin-bottom: 25px;">
      <div class="panel-body">
        <table class="table table-sm table-responsive table-hover">
          <thead>
            <tr style="background-color: #A2FBA2;">
              <th>Lockout No:</th>
              <th>Lockout Description</th>
              <th>Date</th>
              <th>Status</th>
              <th>Author</th>
            </tr>
          </thead>
          <tbody>
            {% for each in open_lockouts %}
            <tr >
              <th scope="row" class="" ><a href="lockout/{{each.id}}">{{ each.lockout_number }}</a></th>
              <td>{{ each.lockout_description }}</td>
              <td>{{ each.date.strftime("%m/%d/%y") }}</td>
              {% if each.status == True %}
              <td>Open</td>
              {% else %}
              <td>Closed</td>
              {% endif %}
              <td>{{ each.lockout_author.last_name }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

<!-- CLOSE TABLE _____________________-->
  <div class="panel" style="margin-bottom: 25px;">
    <div class="panel-body">
      <table class="table table-sm table-responsive table-hover">
        <thead>
          <tr style="background-color: #FF9999;">
            <th>Lockout No:</th>
            <th>Lockout Description</th>
            <th>Date</th>
            <th>Status</th>
            <th>Author</th>
          </tr>
        </thead>
        <tbody>
          {% for each in closed_lockouts %}
          <tr>
            <th scope="row"><a href="lockout/{{each.id}}">{{ each.lockout_number }}</a></th>
            <td>{{ each.lockout_description }}</td>
            <td>{{ each.date.strftime("%m/%d/%y") }}</td>
            {% if each.status == True %}
            <td>Open</td>
            {% else %}
            <td>Closed</td>
            {% endif %}
            <td>{{ each.lockout_author.last_name }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>

{% endblock %}
