{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<div class="jumbotron">
<div class="text-center">
<h1> Trinity Lockout Tagout </h1>
</div>
<hr>
<br>
<div class="row">
        <div class="col-xs-3 col-xs-offset-3 form-group">
            <h3>{{ user.first_name }} {{ user.last_name }} </h3>
        </div>
        <div class="col-xs-6">
            <h3> {{ today }} </h3>
        </div>
</div>
<hr>
<!-- OPEN TABLE --------------------------------------------->
<h4>Open</h4>
<table class="table table-sm">
<thead>
  <tr style="background-color: #A2FBA2;">
    <th>Lockout No:</th>
    <th>Lockout Description</th>
    <th>Date</th>
    <th>Status</th>
    <th>Author</th>
  </tr>
</thead>
<tbody>
  {% for each in open_lockouts %}
  <tr >
    <th scope="row" ><a href="lockout/{{each.id}}">{{ each.id }}</a></th>
    <td>{{ each.lockout_description }}</td>
    <td>{{ each.date }}</td>
    {% if each.status == True %}
    <td>Open</td>
    {% else %}
    <td>Closed</td>
    {% endif %}
    <td>{{ each.lockout_author.last_name }}</td>
  </tr>
  {% endfor %}
</tbody>
</table>
<hr>
<!-- CLOSE TABLE _____________________-->
<h4>Closed</h4>
  <table class="table table-sm">
    <thead>
      <tr style="background-color: #FF9999;">
        <th>Lockout No:</th>
        <th>Lockout Description</th>
        <th>Date</th>
        <th>Status</th>
        <th>Author</th>
      </tr>
    </thead>
  <tbody>
    {% for each in closed_lockouts %}
    <tr>
      <th scope="row"><a href="lockout/{{each.id}}">{{ each.id }}</a></th>
      <td>{{ each.lockout_description }}</td>
      <td>{{ each.date }}</td>
      {% if each.status == True %}
      <td>Open</td>
      {% else %}
      <td>Closed</td>
      {% endif %}
      <td>{{ each.lockout_author.last_name }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<hr>

{% endblock %}
