{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<div class="container-fluid">
<div class="jumbotron">
<div class="text-center">
<h1> Trinity Lockout Tagout </h1>
</div>
<hr>
<br>
  <div class="row">
      <div class="col-xs-4">
          <h4>  LOTO Number: {{last_lockout.id}} </h4>
      </div>
      <div class="col-xs-4 form-group">
          <h4>  Developed by: {{user.first_name}} </h4>
      </div>
      <div class="col-xs-4">
          <h4>  Date: {{today}} </h4>
      </div>
  </div>
<br>
<form  method="POST" action="/lockout">
  {{ wtf.csrf_token }}
  <div class="col-xs-12 form-group">
    {{ wtf.form_field(lockout_form.description) }}
  </div>
<br>
<h4> PPE Required: </h4>

  <div class="col-xs-6 form-group">
    {{ wtf.form_field(lockout_form.goggles) }}
    {{ wtf.form_field(lockout_form.faceshield) }}
    {{ wtf.form_field(lockout_form.fullface) }}
    {{ wtf.form_field(lockout_form.dustmask) }}
    {{ wtf.form_field(lockout_form.leathergloves) }}
    {{ wtf.form_field(lockout_form.saranax) }}

  </div>
  <div class="col-xs-6 form-group">
  {{ wtf.form_field(lockout_form.nitrilegloves) }}
  {{ wtf.form_field(lockout_form.chemicalgloves) }}
  {{ wtf.form_field(lockout_form.chemicalsuit) }}
  {{ wtf.form_field(lockout_form.tyrex) }}
  {{ wtf.form_field(lockout_form.rubberboots) }}
  {{ wtf.form_field(lockout_form.sar) }}
  </div>
  <div class="col-xs-12 form-group">
    {{ wtf.form_field(lockout_form.ppe) }}<br>
  </div>
<!-- <div class="col-xs-12 form-group">
    <label>Lockout Authorized for Implementation by: </label>
    <input type="text" name="authorizedby" value="{{ request.form.authorized_by }}"> -->
<br>
<br>

<!-- Table -->
<table class="table">
  <thead>
    <tr>
      <th>Valve # / MCC #</th>
      <th>Item Description / Location</th>
      <th>Lock Position</th>
<!-- <th>Lock #</th>-->
<!--  <th>Try Out</th> -->
      <th>Removal Position</th>
<!--  <th>Lock/Tag Removed</th> -->
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{ wtf.form_field(lockout_line_form.valve_number) }}</th>
        <td>{{ wtf.form_field(lockout_line_form.description) }}</td>
        <td>{{ wtf.form_field(lockout_line_form.lock_position) }}</td>
        <td>{{ wtf.form_field(lockout_line_form.removal_position) }}</td>
      <!--  <td><input type="text" name="lock_number" value="{{ request.form.lock_number}}"></td> -->
      <!--  <td><input type="checkbox" name="try_out" value="{{ request.form.try_out}}"></td> -->
      <!--  <td><input type="checkbox" name="verify_removed" value="{{ request.form.removed_verified}}"></td> -->
    </tr>
    <tr>
      <th scope="row">{{ wtf.form_field(lockout_line_form.valve_number) }}</th>
        <td>{{ wtf.form_field(lockout_line_form.description) }}</td>
        <td>{{ wtf.form_field(lockout_line_form.lock_position) }}</td>
        <td>{{ wtf.form_field(lockout_line_form.removal_position) }}</td>
      <!--  <td><input type="text" name="lock_number" value="{{ request.form.lock_number}}"></td> -->
      <!--  <td><input type="checkbox" name="try_out" value="{{ request.form.try_out}}"></td> -->
      <!--  <td><input type="checkbox" name="verify_removed" value="{{ request.form.removed_verified}}"></td> -->
    </tr>
  </tbody>
</table>
<hr>
<div class="col-xs-4">
  <input class="btn btn-primary" type="new_line" value="Add Line">
</div>
<div class="col-xs-4 col-xs-offset-4 ">
  <input class="col-xs-4 btn btn-danger" type="submit" value="Save">
</div>
</form>
</div>
</div>


{% endblock %}
