{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<div class="container-fluid">
  <div class="jumbotron">
    <div class="col-md-12">
      {% for message in get_flashed_messages() %}
        {% if message == 'Successfully logged out' %}
          <h3 class=flashes>{{ message }}</h3>
        {% endif %}
      {% endfor %}
    </div>
    <div class="text-center">
      <h2>Login </h2>
    </div>
    <form method="POST" action="/login">
      <dl>
        {{ wtf.quick_form(login_form) }}
        <input class="btn btn-primary" type="submit" value="login">
      </dl>
    </form>
  </div>
</div>
{% endblock %}
