{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<div class="container-fluid">
  <div class="text-center">
    <h1> Trinity Lockout Tagout </h1>
    <hr>
    <br>
  </div>
  <div class="row">
    <div class="col-xs-3 col-xs-offset-3 form-group">
      <h4> LOTO Number: {{ lockout.id }} </h4>
    </div>
    <div class="col-xs-6 form-group">
      <h4>Lockout Developed By: {{ lockout.lockout_author.first_name }} {{ lockout.lockout_author.last_name }}</h4>
    </div>
    <div class="col-xs-3 col-xs-offset-3 form-group">
      <h4>Date: {{ lockout.date }}</h4>
    </div>
    <div class="col-xs-6 form-group">
      <h4>Workorder Number: ___________________</h4>
    </div>
  </div>
  <div class="col-xs-12">
    <hr>
  </div>
  <div class="col-xs-9 col-xs-offset-3 form-group">
    <h4>Work Description: {{ lockout. description }}</h4>
  </div>
  <div class="col-xs-12">
    <hr>
  </div>
  <div class="col-xs-9 col-xs-offset-3">
    <h3> PPE Required: </h3>
    <br>
  </div>
  <div class="row">
    <div class="col-xs-2 col-xs-offset-4 form-group">
      <input type="checkbox" name="goggles" value="yes"  checked> Goggles<br>
      <input type="checkbox" name="faceshield" value="yes"> Face Shield<br>
      <input type="checkbox" name="fullfacerespirator" value="yes"> Full Face Respirator<br>
      <input type="checkbox" name="dustmask" value="yes"> Dust Mask<br>
      <input type="checkbox" name="leathergloves" value="yes"> Leather Gloves<br>
      <input type="checkbox" name="saranaxsuit" value="yes" checked> Saranax Suit<br>
    </div>
    <div class="col-xs-2 form-group">
      <input type="checkbox" name="nitrilegloves" value="yes"> Nitrile Gloves<br>
      <input type="checkbox" name="chemicalgloves" value="yes"> Chemical Gloves<br>
      <input type="checkbox" name="chemicalsuit" value="yes"> Chemical Suit<br>
      <input type="checkbox" name="tyrexsuit" value="yes"> Tryex Suit<br>
      <input type="checkbox" name="rubberboots" value="yes"> Rubber Boots<br>
      <input type="checkbox" name="sar" value="yes"> SAR<br>
    </div>
  </div>
  <div class="col-xs-9 col-xs-offset-3">
    <h5> Other PPE: {{ lockout.ppe }} </h5>
  </div>
  <div class="col-xs-12">
    <hr>
  </div>
  <div class="col-xs-9 col-xs-offset-3">
    <h4>Lockout Authorized for Implementation by: {{ lockout.lockout_author.first_name }} {{ lockout.lockout_author.last_name }}</h4>
  </div>
  <div class="col-xs-12">
    <hr>
  </div>
  <!-- Table -->
<div>
  <table class="table">
    <thead>
      <tr>
        <th>Valve # / MCC #</th>
        <th>Item Description / Location</th>
        <th>Lock Position</th>
        <th>Lock #</th>
        <th>Try Out</th>
        <th>Removal Position</th>
        <th>Lock/Tag Removed</th>
      </tr>
    </thead>
    <tbody>
  {% for each in lockout_line %}
      <tr>
        <th scope="row">{{ each.valve_number}}</th>
          <td>{{ each.description }}</td>
          <td>{{ each.lock_position }}</td>
          <td></td>
          <td></td>
          <td>{{ each.removal_position }}</td>
          <td></td>
      </tr>
  {% endfor %}
    </tbody>
  </table>
</div>
<div>
    <hr>
    <br>
    <form method=POST enctype=multipart/form-data action="{{ url_for('upload') }}">
      <div class="col-xs-3 col-xs-offset-2 form-group">
        <div class="jumbotron">
        <label class="control-label">Attach File:</label>
        <input id="attach" type="file" class="file" name="inputFile">
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
    </form>
  </div>
  </div>




{% endblock %}
