{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<!-- ----->

<div class="container-fluid">
  <div class="jumbotron">
      <div class="text-center">
        <h1> Trinity Lockout Tagout </h1>
      </div>
        <br>
        <div class="row">
          <div class="col-xs-3 col-xs-offset-3 form-group">
            <h4> LOTO Number: {{ this_lockout.id }} </h4>
          </div>
          <div class="col-xs-6 form-group">
            <h4>Lockout Developed By: {{ this_lockout.lockout_author.first_name }} {{ this_lockout.lockout_author.last_name }}</h4>
          </div>
          <div class="col-xs-3 col-xs-offset-3 form-group">
            <h4>Date: {{ this_lockout.date }}</h4>
          </div>
          <div class="col-xs-6 form-group">
            <h4>Workorder Number: ___________________</h4>
          </div>
        </div>
      <br>
      <div class="row">
        <div class="col-xs-12">
          <h4>Lockout Description: <u>{{ this_lockout.lockout_description }}</u></h4>
        </div>
      </div>
          <br>
          <h4> PPE Required: </h4>

            <div class="col-xs-6 form-group">
              <ul>
                {% if this_lockout.goggles == True %}
                  <li>Goggles</li>
                {% endif %}
                {% if this_lockout.faceshield == True %}
                  <li>Face Shield</li>
                {% endif %}
                {% if this_lockout.fullface == True %}
                  <li>Full Face Respirator</li>
                {% endif %}
                {% if this_lockout.dustmask == True %}
                  <li>Dust Mask</li>
                {% endif %}
                {% if this_lockout.leathergloves == True %}
                  <li>Leather Gloves</li>
                {% endif %}
                {% if this_lockout.saranax == True %}
                  <li>Saranax Suit</li>
                {% endif %}
              </ul>
            </div>
          <div class="row">
            <div class="col-xs-12 form-group">
              <h4>Other PPE:<u>{{ this_lockout.ppe }}</u></h4>
            </div>
          </div>
    <br>

  <!-- Table -->
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>Valve # / MCC #</th>
          <th>Item Description / Location</th>
          <th>Lock Position</th>
          <th>Lock #</th>
          <th>Try Out</th>
          <th>Removal Position</th>
          <th>Lock/Tag Removed</th>
        </tr>
      </thead>
      <tbody>
    {% for each in lockout_lines %}
        <tr>
          <th scope="row">{{ each.valve_number}}</th>
            <td>{{ each.line_description }}</td>
            <td>{{ each.lock_position }}</td>
            <td></td>
            <td></td>
            <td>{{ each.removal_position }}</td>
            <td></td>
        </tr>
    {% endfor %}
      </tbody>
    </table>
  </div>
<hr>
  <form method="POST" enctype=multipart/form-data action="/lockout/{{this_lockout.id}}">
    <div class="form-group">
      <label for="attach">Attach File and Close:</label>
      <input  id="attach" type="file" class="file" name="inputFile">
      <br>
      <button  type="submit" class="btn btn-danger">Submit</button>
    </div>
  </form>
  </div>
</div>




{% endblock %}
