{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
<div class="text-center">
<h1> Trinity Lockout Tagout </h1>
</div>
<br>
<form action="" method="post">
<div class="row">
        <div class="col-xs-6 form-group">
            <label>  LOTO Number: </label>
            <input class="form-control" type="text" value="{{request.form.id }}" />
        </div>
        <div class="col-xs-6 form-group">
            <label>Lockout Developed By: </label>
            <input class="form-control" type="text" value="{{ request.form.lockout_author }}" />
        </div>
        <div class="col-xs-6">
            <label> Date: </label>
        </div>
        <div class="col-xs-6 form-group">
            <label>Workorder Number: </label>
            <input class="form-control" type="text" value="{{ request.form.workorder_id }}"/>
        </div>
</div>
<br>
<div class="col-xs-12 form-group">
<label> Work Description: </label>
<input class="form-control" type="text" value="{{ request.form.description }}" />
</div>
<br>
<h4> PPE Required: </h4>

  <div class="col-xs-6 form-group">
  <input type="checkbox" name="goggles" value="{{ request.form.goggles }}"  checked> Goggles<br>
  <input type="checkbox" name="faceshield" value="faceshield"> Face Shield<br>
  <input type="checkbox" name="fullfacerespirator" value="fullfacerespirator"> Full Face Respirator<br>
  <input type="checkbox" name="dustmask" value="dustmask" checked> Dust Mask<br>
  <input type="checkbox" name="leathergloves" value="leathergloves"> Leather Gloves<br>
  <input type="checkbox" name="saranaxsuit" value="saranaxsuit" checked> Saranax Suit<br>

  </div>
  <div class="col-xs-6 form-group">
  <input type="checkbox" name="nitrilegloves" value="nitrilegloves"> Nitrile Gloves<br>
  <input type="checkbox" name="chemicalgloves" value="chemicalgloves" checked> Chemical Gloves<br>
  <input type="checkbox" name="chemicalsuit" value="chemicalsuit"> Chemical Suit<br>
  <input type="checkbox" name="tyrexsuit" value="tyrexsuit"> Tryex Suit<br>
  <input type="checkbox" name="rubberboots" value="rubberboots"> Rubber Boots<br>
  <input type="checkbox" name="sar" value="sar"> SAR<br>
  </div>
  <label>Other PPE: </label>
  <input type="text" name="otherppe" ><br>
<hr>
<br>
<label>Lockout Authorized for Implementation by: </label>
<input type="text" name="authorizedby">
<!-- Table -->
<table class="table table-sm">
<thead>
  <tr>
    <th>Valve # / MCC #</th>
    <th>Item Description / Location</th>
    <th>Lock Position</th>
    <th>Lock #</th>
    <th>Try Out</th>
    <th>Removal Position</th>
    <th>Lock/Tag Removed</th>
  </tr>
</thead>
<tbody>
  <tr>
    <th scope="row">V911-29</th>
    <td>Downstream of P900</td>
    <td>Close</td>
    <td></td>
    <td></td>
    <td>Open</td>
    <td></td>
  </tr>
  <tr>
    <th scope="row">V922-20</th>
    <td>Beside something important</td>
    <td>Close</td>
    <td></td>
    <td></td>
    <td>Open</td>
    <td></td>
  </tr>
  <tr>
    <th scope="row">V922-22</th>
    <td>Next to heat exchanger</td>
    <td>Open</td>
    <td></td>
    <td></td>
    <td>Close</td>
    <td></td>
  </tr>
</tbody>
</table>

  <input class="btn btn-default" type="submit" value="Save">
</form>
</div>


{% endblock %}
