
{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <div class="text-center">
    <h1> Trinity Lockout Tagout </h1>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-6 form-group">
    LOTO Number:
    </div>
    <div class="col-xs-6 form-group">
    Lockout Developed By:
    </div>
    <div class="col-xs-6 form-group">
    Date:
    </div>
    <div class="col-xs-6 form-group">
    Workorder Number: TBD
    </div>
  </div>
  <br>
  <div class="col-xs-12 form-group">
  Work Description:
  </div>
  <br>
  <h4> PPE Required: </h4>

  <div class="col-xs-6 form-group">
    <input type="checkbox" name="goggles" value="yes"  checked> Goggles<br>
    <input type="checkbox" name="faceshield" value="yes"> Face Shield<br>
    <input type="checkbox" name="fullfacerespirator" value="yes"> Full Face Respirator<br>
    <input type="checkbox" name="dustmask" value="yes"> Dust Mask<br>
    <input type="checkbox" name="leathergloves" value="yes"> Leather Gloves<br>
    <input type="checkbox" name="saranaxsuit" value="yes" checked> Saranax Suit<br>
  </div>
  <div class="col-xs-6 form-group">
    <input type="checkbox" name="nitrilegloves" value="yes"> Nitrile Gloves<br>
    <input type="checkbox" name="chemicalgloves" value="yes"> Chemical Gloves<br>
    <input type="checkbox" name="chemicalsuit" value="yes"> Chemical Suit<br>
    <input type="checkbox" name="tyrexsuit" value="yes"> Tryex Suit<br>
    <input type="checkbox" name="rubberboots" value="yes"> Rubber Boots<br>
    <input type="checkbox" name="sar" value="yes"> SAR<br>
  </div>
  <div class="col-xs-6">
    <h4>Other PPE:</h4>
  </div>
  <hr>
  <br>
  <div class="col-xs-6">
    <h4>Lockout Authorized for Implementation by:</h4>
  </div>
  <!-- Table -->
  <table class="table table-sm">
    <thead>
      <tr>
        <th>Valve # / MCC #</th>
        <th>Item Description / Location</th>
        <th>Lock Position</th>
        <th>Lock #</th>
        <th>Try Out</th>
        <th>Removal Position</th>
        <th>Lock/Tag Removed</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">{{ lockout_line.valve_number}}</th>
          <td>{{ lockout_line.description }}</td>
          <td>{{ lockout_line.lock_position }}</td>
          <td></td>
          <td></td>
          <td>{{ lockout_line.removal_position }}</td>
          <td></td>
      </tr>
      <tr>
        <th scope="row">{{ lockout_line.valve_number}}</th>
          <td>{{ lockout_line.description }}</td>
          <td>{{ lockout_line.lock_position }}</td>
          <td></td>
          <td></td>
          <td>{{ lockout_line.removal_position }}</td>
          <td></td>
      </tr>
      <tr>
        <th scope="row">{{ lockout_line.valve_number}}</th>
          <td>{{ lockout_line.description }}</td>
          <td>{{ lockout_line.lock_position }}</td>
          <td></td>
          <td></td>
          <td>{{ lockout_line.removal_position }}</td>
          <td></td>
      </tr>
    </tbody>
  </table>
  <hr>
  <form method=POST enctype=multipart/form-data action="{{ url_for('upload') }}">
    <div class="form-group">
      <label class="control-label">Attach File</label>
      <input id="attach" type="file" class="file" name="inputFile">
      <br>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>




{% endblock %}
