
{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
<div class="text-center">
<h1> Trinity Lockout Tagout </h1>
</div>
<br>
<div class="row">
<div class="col-xs-6 form-group">
LOTO Number:
</div>
<div class="col-xs-6 form-group">
Lockout Developed By:
</div>
<div class="col-xs-6 form-group">
Date:
</div>
<div class="col-xs-6 form-group">
Workorder Number: TBD
</div>
</div>
<br>
<div class="col-xs-12 form-group">
Work Description:
</div>
<br>
<h4> PPE Required: </h4>

<div class="col-xs-6 form-group">
<input type="checkbox" name="goggles" value="hello"  checked> Goggles<br>
<input type="checkbox" name="faceshield" value="faceshield"> Face Shield<br>
<input type="checkbox" name="fullfacerespirator" value="fullfacerespirator"> Full Face Respirator<br>
<input type="checkbox" name="dustmask" value="dustmask" checked> Dust Mask<br>
<input type="checkbox" name="leathergloves" value="leathergloves"> Leather Gloves<br>
<input type="checkbox" name="saranaxsuit" value="saranaxsuit" checked> Saranax Suit<br>

</div>
<div class="col-xs-6 form-group">
<input type="checkbox" name="nitrilegloves" value="nitrilegloves"> Nitrile Gloves<br>
<input type="checkbox" name="chemicalgloves" value="chemicalgloves" checked> Chemical Gloves<br>
<input type="checkbox" name="chemicalsuit" value="chemicalsuit"> Chemical Suit<br>
<input type="checkbox" name="tyrexsuit" value="tyrexsuit"> Tryex Suit<br>
<input type="checkbox" name="rubberboots" value="rubberboots"> Rubber Boots<br>
<input type="checkbox" name="sar" value="sar"> SAR<br>
</div>
<div class="col-xs-6">
Other PPE:
</div>
<hr>
<br>
Lockout Authorized for Implementation by:

<!-- Table -->
<table class="table table-sm">
<thead>
<tr>
<th>Valve # / MCC #</th>
<th>Item Description / Location</th>
<th>Lock Position</th>
<th>Lock #</th>
<th>Try Out</th>
<th>Removal Position</th>
<th>Lock/Tag Removed</th>
</tr>
</thead>
<tbody>
<tr>
<th scope="row">V911-29</th>
<td>Downstream of P900</td>
<td>Open</td>
<td>100</td>
<td>Y/N</td>
<td>Close</td>
<td>Y/N</td>
</tr>
<tr>
<th scope="row">V922-20</th>
<td>Beside something important</td>
<td>Open</td>
<td>101</td>
<td>Y/N</td>
<td>Close</td>
<td>Y/N</td>
</tr>
<tr>
<th scope="row">V922-22</th>
<td>Next to shitter</td>
<td>102</td>
<td>Y/N</td>
<td>Close</td>
<td>Y/N</td>
</tr>
</tbody>
</table>
<hr>
<form method=POST enctype=multipart/form-data action="{{ url_for('upload') }}">
  <div class="form-group">
    <label class="control-label">Attach File</label>
    <input id="attach" type="file" class="file" name="inputFile">
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
</div>




{% endblock %}
